<footer>
  <p class="footer-p">&copy;2020 Elias Roberts (<a href="https://eroberts.dev" target="_blank" rel="noopener noreferrer" class="post-a">Portfolio</a>) 
    | Made with caffeine.</p>
  <p class="footer-soc"><a href="https://github.com/erobertsdev/" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-github-square ico"></i></a></p>
</footer>

</body>