<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <link rel="icon" href="/img/favicon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Elias Roberts | Coding blog.">
    <meta name="keywords" content="HTML,CSS,JavaScript,React,SQL,Web,Development,Sass,IT,Information,Systems,Node,Photoshop,Blog">
    <meta name="author" content="Elias Roberts">
    <base href="../../">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ea1a8cf193.js" crossorigin="anonymous"></script>
    <title>Elias Roberts Development | Blog</title>
</head>
<body>
