<%- include("partials/header"); -%>

<div class="title">
    <h1>E<span class="period">.</span><span class="codes">C</span></h1>
        <ul class="nav">
            <a href="https://elias-codes.herokuapp.com/"><li>Coding</li></a>
            <a href="https://elias-codes.herokuapp.com/it"><li>IT</li></a>
            <a href="https://elias-codes.herokuapp.com/other"><li>Other</li></a>
            <a href="https://elias-codes.herokuapp.com/login"><li class="active"><i class="far fa-user"></i></li></a>
        </ul>
</div>

<section class="main">
    <div class="login-buttons">
        <a class="google-signin-button" href="https://elias-codes.herokuapp.com/auth/google"><img src="/img/google-signin.png" alt="Sign in with Google" /></a>
    </div>
</section>

<%- include("partials/footer"); -%>