<%- include("partials/header"); -%>

<section class="main">
  <form class="login-area" action="/submit" method="post">
      <div>
          <label for="title">Title:</label>
          <input class="login-input" type="text" name="title"/>
      </div>
      <div>
        <label for="body">Body:</label>
        <textarea class="login-input" name="body" rows="20" cols="80"></textarea>
    </div>
    <div>
      <label for="hashtags">Hashtags:</label>
      <input class="login-input" type="text" name="hashtags"/>
  </div>
    <div>
      <label for="category">Category:</label>
      <select name="category" class="login-input">
        <option value="coding">Coding</option>
        <option value="it">IT</option>
        <option value="other">Other</option>
      </select>
  </div>
      <div>
          <input class="login-button" type="submit" value="Post"/>
      </div>
  </form>
</section>

<%- include("partials/footer"); -%>
